$color1: #111111;
$color2: #3f4e65;
$color3: linear-gradient(180deg, #6cd0e9 14.1%, #6cade9 57.69%);
$color4: linear-gradient(90deg, #39acfd 0%, #5eb9ff 97.25%);
$color5: #ffc85e;
$color6: #ffc85e;
$color7: #f3a50d;
